<div class="container">
  <div class="header">
    <img src="<%= @league_logo_url %>" alt="League Logo">
    <h1><strong><%= @country %> - <%= @league_name %></strong></h1>
    <h2>Season: <strong><%= @season %></strong></h1>
  </div>

  <div class="classification">
    <table class="table">
      <tr style="border: 3px solid black">
        <th style="text-align: center">Rank</th>
        <th>Team</th>
        <th style="text-align: center">Games</th>
        <th style="text-align: center">Win</th>
        <th style="text-align: center">Draw</th>
        <th style="text-align: center">Lose</th>
        <th style="text-align: center">Goals</th>
        <th style="text-align: center">Goal Diff</th>
        <th style="text-align: center">Points</th>
        <th style="text-align: center">Last 5 Games Form</th>
      </tr>

      <% @standings.each do |team| %>

      
        <tr>
          <td style="text-align: center"><strong><%= team['rank'] %></strong></td>
          <td><img src="<%= team['team']["logo"] %>" alt="Team Logo"><strong><%= team['team']['name'] %></strong></td>
          <td style="text-align: center"><%= team["all"]["played"] %></td>
          <td style="text-align: center"><%= team["all"]["win"] %></td>
          <td style="text-align: center"><%= team["all"]["draw"] %></td>
          <td style="text-align: center"><%= team["all"]["lose"] %></td>
          <td style="text-align: center"><%= team["all"]["goals"]["for"] %> : <%= team["all"]["goals"]["against"] %></td>
          <td style="text-align: center"><%= team["goalsDiff"] %></td>
          <td style="text-align: center"><strong><%= team["points"] %></strong></td>
          <td class="form-icon" style="text-align: center"><strong><%= team['form'] %></strong></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
