<div class="container">
  <div class="header">
    <h1><%= @country %> - <%= @league_name %></h1>
    <img src="<%= @league_logo_url %>" alt="League Logo">
    <h2>Season: <%= @season %></h1>
  </div>

<hr />

<table>
  <tr>
    <th>Rank</th>
    <th>Points</th>
    <th>Team</th>
  </tr>

  <% @standings.each do |team| %>
    <tr>
      <td><%= team['rank'] %></td>
      <td><%= team["points"] %></td>
      <td><img src="<%= team['team']["logo"] %>" alt="Team Logo"><%= team['team']['name'] %></td>
    </tr>
  <% end %>
</table>

<hr />

<%= @response %>

</div>
